<h1 class="text-5xl"> Video succesfully converted </h1>

<%= video_tag conversion.video, controls: true, autoplay: true, muted: true %>

<br/>
<%= link_to "Convert another audio", "/", class: "bg-blue-500 text-blue-100 px-3 py-2 rounded-lg" %>