<div id="audio-to-video">
  <h1 class="font-bold text-4xl">Audio -> Video </h1>
  <p>Convert audios(mp3, wav, etc..) + any image or gif -> to video</p>

  <div id="conversion-form">
    <%= render "conversions/form", conversion: @conversion %>
  </div>
</div>
